/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
hr {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, transparent, #555, transparent);  
}
header{
  box-shadow: 0 .25rem .75rem #555;

}
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
.navbar {
    height: 50px;
    padding: 0px;
      width:100%;
      z-index:10;
      max-width:100%;
}
.nav-item {
  display: inline-block;
  padding: 0px 10px 0px 10px;
  text-decoration: none;
}
/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem #555;
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 30px;
    white-space: nowrap;
    line-height: 50px; /* Vertically center the text there */
    justify-content: center;
    text-align: center;
    box-shadow: 0 -0.25rem .75rem #555;
}
.img-recode{
  height: 12px;
}
.navbar-brand > img {
    height: 30px;
}
.carousel {
    height: 100%;
    width: 100%;
    vertical-align: middle;
    overflow: hidden;
    border-radius: 20px;
}

.carousel-item {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}

.carousel-inner {
    height: 100%;
    width: 100%;
}

.header-pags{
  display: inline-flex;
  justify-content: center;
  background-color:#9f408066;
  height:100px;
  width: 100%;
  box-sizing: border-box;
}
.header-pags > h2{
  height:100px;
  padding: 30px;
  font-family: 'Baumans';
}
img {
  font-family: 'Baumans';
}

.person{
  background-color: #d6338644;
  border-radius: 20px;
}
.icongrande{
  height: 350px;
}


.cadastro {
    box-shadow: 0 .15rem .15rem #555;
    color: #000000;
    background-color: #d8b2cc;
}

.cadastro:hover {
    box-shadow: 0 .25rem .75rem #555;
    background-color: #a53f81;
    color: #fff;
 }

.cadastro-img {
    opacity: 0.3;
}

.tabela{
  background: linear-gradient(90deg, rgba(255,188,35,.15) 0%, rgba(214,51,134,.15) 100%);
}

.somos1{
  background: linear-gradient(90deg, rgba(255,188,35,.15) 0%, rgba(214,51,134,.15) 100%);
  border: 1px solid #f58220;
  border-radius: 20px;
  margin: 0 auto;
  padding: 40px;

}

.somos2{
  background: linear-gradient(90deg, rgba(214,51,134,.15) 0%, rgba(255,188,35,.15) 100%);
  border: 1px solid #f58220;
  border-radius: 20px;
  margin: 20px auto;
  padding: 40px;
}
.somos1 > h2{
  font-family: 'Baumans';
}
.somos2 > h2{
  font-family: 'Baumans';
}
.somos1 > p {
  font-size: 1.2em;
}
.somos2 > p {
  font-size: 1.2em;
}
 p{
  margin: 0px 10px 0px 10px;
  font-size: 1.2em;
}
.somos{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 75%;
  margin: 0 auto;
  padding: 20px;
}