@{
    ViewData["Title"] = "Cadastro";
}

<div class="header-pags p-0 m-0">
    <h2 class="text-center">Cadastro</h2>
</div>
<hr class="p-0 m-0"/>

<div class="container justify-content-around">
    <div class="card m-2">
        <a class="btn btn-primary" asp-area="" asp-controller="CadastroParceiros" asp-action="Create">Sou uma empresa, Quero ser um Parceiro!</a>
    </div>
    <div class="card m-2">
        <a class="btn btn-primary" asp-area="" asp-controller="CadastroSobrevs" asp-action="Create">Sou sobrevivente, Quero ser uma Donne!</a>
    </div>
</div>
