@{
    ViewData["Title"] = "Cadastro";
}

<div class="header-pags p-0 m-0">
    <h2 class="text-center">Cadastro</h2>
</div>
<hr class="p-0 m-0"/>

<div class="container d-flex justify-justify-content-md-center mt-4">
    <div class="card m-2 w-75">
        <a class="btn btn-outline-light rounded font-weight-bold cadastro" asp-area="" asp-controller="CadastroParceiros" asp-action="Create">Sou uma empresa, quero ser um Parceiro!</a>
    </div>
    <div class="card m-2 p-0 w-75">
        <a class="btn btn-outline-light rounded font-weight-bold cadastro" asp-area="" asp-controller="CadastroSobrevs" asp-action="Create">Sou sobrevivente, quero ser uma Donne!</a>
    </div>

</div>

<div class="text-center mt-xl-5 cadastro-img">
    <img class="img-fluid my-4 icongrande" src="~/assets/IconeDonne.svg" alt="icone">
</div>
