@{
    ViewData["Title"] = "Sobre nós";
}

<div class="header-pags p-0 m-0">
    <h2 class="text-center">Quem Somos</h2>
</div>
<hr class="p-0 m-0"/>

<div class="Container-fluid">
    <h3 class="m-3 p-5">
        A Donne atua como intermediadora entre nossas sobreviventes e as empresas parceiras, dando todo suporte para que nossas Donne’s alcancem a independência financeira. <br> <br>
        Nosso foco é ajudar mulheres que sofreram violência doméstica, a encontrarem as melhores oportunidades no mercado de trabalho e mudarem o cenário de suas vidas, oferecemos serviços nas áreas de TELEMARKETING
        </h3>
</div>
