@{
    ViewData["Title"] = "Sobre nós";
}

<div class="header-pags p-0 m-0">
    <h2 class="text-center">Quem Somos</h2>
</div>
<hr class="p-0 m-0" />

<div class="my-4 somos">
    <div class="Container somos1 p-4 text-center ">
        <h2 class="m-3 p-5">
            Nossa missão:
        </h2>
        <p>
            Nossa missão é ajudar mulheres sobreviventes de violência doméstica a conquistarem independência financeira!
        </p>
    </div>
    <div class="Container somos2 p-4  text-center">
        <h2 class="m-3 p-5">
            Nosso modelo de negócio:
        </h2>
        <p>
            Somos uma central de relacionamento com o cliente 100% remota formada apenas por mulheres sobreviventes de
            violência doméstica. <br><br>
            Nosso foco é ajudar mulheres que sofreram violência doméstica, a se inserirem no
            mercado de trabalho e mudarem o cenário de suas vidas! <br><br>
            Nossos parceiros, além de estarem contratando um serviço altamente eficiente através do trabalho qualificado
            e
            empático de cada uma das nossas Scooteiras, também estarão ajudando a dar liberdade financeira à estas
            mulheres!
        </p>
    </div>
    <div class="Container somos1 p-4  text-center">
        <h2 class="m-3 p-5">
            Áreas de atuação das nossas Donnes!
        </h2>
        <div class="d-inline-block">
            <div class="container person m-1 p-2">
                <h3 class="m-2 p-3">
                    Pré-Vendas
                </h3>
                <p>
                    Passamos por toda a jornada do lead, entrando em contato após estudar sobre seu perfil a fim de
                    verificar se o produto ou serviço da sua empresa soluciona o que o lead deseja.
                </p>
            </div>
            <div class="container person m-1 p-2">
                <h3 class="m-2 p-3">
                    Vendas
                </h3>
                <p>
                    Identificamos estratégias para acionar os leads. Caso precise, identificamos melhorias nos
                    processos,
                    trazendo soluções para otimizar os resultados.
                </p>
            </div>
            <div class="container person m-1 p-2">
                <h3 class="m-2 p-3">
                    Suporte
                </h3>
                <p>
                    Com total conhecimento do produto ou serviço, oferecemos um atendimento humanizado trazendo as
                    melhores
                    soluções dentro do cenário apresentado.
                </p>
            </div>
        </div>
    </div>
</div>
