@model DonneProject.Models.CadastroParceiro

@{
    ViewData["Title"] = "Edit";
}

<div class="header-pags p-0 m-0">
    <h2 class="text-center">Editar Dados de Parceiro!</h2>
</div>

<hr class="p-0 m-0" />
<div class="container-fluid d-inline-flex justify-content-around">
    <div class="col-md-4 px-5">
        <img class="img-fluid my-4 ml-4 icongrande" src="~/assets/IconeDonne.svg" alt="icone">
    </div>
    <div class="col-md-4 person p-3 m-3">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group font-weight-bold">
                <label asp-for="RZsocial" class="control-label">Razão Social</label>
                <input asp-for="RZsocial" class="form-control" />
                <span asp-validation-for="RZsocial" class="text-danger"></span>
            </div>
            <div class="form-group font-weight-bold">
                <label asp-for="Nome" class="control-label">Nome da Empresa</label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group font-weight-bold">
                <label asp-for="cnpj" class="control-label">CNPJ</label>
                <input asp-for="cnpj" class="form-control" />
                <span asp-validation-for="cnpj" class="text-danger"></span>
            </div>
            <div class="form-group font-weight-bold">
                <label asp-for="email" class="control-label">E-mail</label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group font-weight-bold">
                <label asp-for="NomeAreaId" class="control-label">Área de Atuação</label>
                <select asp-for="NomeAreaId" class="form-control" asp-items="ViewBag.NomeAreaId"></select>
                <span asp-validation-for="NomeAreaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-success" />
            </div>
        </form>
        <div>
        <a class="ml-4 text-primary" asp-action="Index">Ver Lista de Parceiros</a>
    </div>
    </div>
    
</div>



@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
