@model DonneProject.Models.Contato

@{
    ViewData["Title"] = "Delete";
}

<div class="header-pags p-0 m-0">
    <h2 class="text-center">Excluir Mensagem</h2>
</div>

<hr class="p-0 m-0" />
<div class="alert alert-danger alert-dismissible m-3 text-center">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Atenção!</strong> Tem certeza que deseja excluir esta Mensagem?
</div>
<div class="m-3 d-inline-flex justify-content-center ">
    <div class="container w-75 d-lg-inline-block">
        <dl class="row p-2 table tabela">
        <dt class = "col-sm-4">
            Nome:
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-4">
            E-mail:
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-4">
            Mensagem:
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Mensagem)
        </dd>
    </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Excluir" class="btn btn-danger" /> |
            <a asp-action="Index">Ver Mensagens</a>
        </form>
    </div>
</div>
